* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    margin: 0;
    display: flex;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to right bottom, #d2bea9 10%, #F1ECF8 95%);
}

.contenedor--p {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.encabezado h1 {
    position: relative;
    font-size: 2.5em;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #4e5283;
    margin: 0;
    padding-left: 20px;
}

.contenedor--p p {
    width: 700px;
    padding: 20px 20px 0px 20px;
    text-align: justify;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500;
    color: #4e5283;
}

.encabezado__div--img {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100%;
    /* Altura del contenedor */
    overflow: hidden;
    /* Ocultar partes de la imagen que sobrepasan el contenedor */
}

.encabezado>div>img {
    position: absolute;
    right: 0;
    width: 80%;
    height: 110%;
    object-fit: fill;
    min-width: 600px;
    max-width: 600px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5vw 0px 10vw;

}

summary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    color: #4e5283;
    width: 60vw;
    max-width: 1500px;
    height: 50px;
    padding: 10px;
    background-color: #ffff;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid #baa4df;
    border-radius: 10px;
    cursor: pointer;
}

summary:hover {
    background-color: #F1ECF8;
    transform: scale(1.01, 1.01);
}

summary span {
    padding: 0px 5px 0px 0px;
}

details {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 60vw;
    max-width: 1500px;
}

.contenedor__historia,
.contenedor__tarjeta,
.contenedor__pasos-de-trabajo,
.contenedor__porque-elegirnos {
    margin: 0px 10px 0px;
    border-radius: 0px 0px 20px 20px;
    background-image: linear-gradient(135deg, rgba(186, 164, 223, 0.3), rgba(255, 212, 207, 0.3));
}

.contenedor__historia p,
.contenedor__pasos-de-trabajo p,
.contenedor__porque-elegirnos p {
    text-align: justify;
    padding: 30px 30px 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
    line-height: 2em;
}

.contenedor__historia p:nth-child(3),
.contenedor__pasos-de-trabajo p:nth-child(7),
.contenedor__porque-elegirnos p:nth-child(7) {
    padding-bottom: 30px;
}

/*De aquí hasta el próximo commentario es la sección nuestro staff*/
.contenedor__tarjeta {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 340px;
    margin: 20px;
    background-color: #baa4df;
    border-radius: 20px;
}

.card .face {
    position: relative;
    width: 90%;
    height: 90%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 1px 0px 5px black;
}

.card .front img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #ffff;
    background: rgba(0, 0, 0, 0.4);
    font-family: 'Noto Sans', sans-serif;
}

.card .back {
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    color: #f3f3f3;
    box-shadow: 1px 0px 5px black;
    transform: rotateY(180deg);
}

.card .back h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5em;
}

.card .back p {
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    font-size: .8em;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px)rotateY(0deg);
}

/*Aquí termina el estilo de Nuestro-Staff*/

@media (max-width:1134px) {

    .menu {
        margin: 10vw 0px 10vw;
    }
    details,
    summary {
        width: 98vw;
        justify-content: center;
    }

    .encabezado {
        height: 200px;
    }

    .encabezado__div--img {
        display: none;
    }

    .contenedor--p p {
        width: auto;
    }
/*Cartas*/
    .card {
        margin: 10px 5px 0px 0px;
        height: 10vh;
        background-color: transparent;
        transition: all 1s;
    }

    .card:hover {
        height: 350px;
    }

    .card .face {
        transition: 2s;
    }

    .card .front h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 1em;
    }
}
@media(max-width: 1320px) {
    .encabezado {
        height: 300px;
    }

    .encabezado__div--img {
        display: none;
    }

    .encabezado__div--img img {
        width: 100%;
        height: 100%;
    }

    .contenedor--p {
        display: flex;
        align-items: center;
    }
}